<div class="container body">
  <!-- This is Body Component -->
  <!-- <app-data-binding></app-data-binding> -->
  <!-- <app-data-binding-assignments></app-data-binding-assignments> -->
  <!-- <app-directives-demo></app-directives-demo> -->
  <!-- <app-user-list></app-user-list> -->
  <!-- <app-product-list></app-product-list> -->
  <!-- <app-pipes-demo></app-pipes-demo> -->
  <!-- <app-parent-demo></app-parent-demo> -->
  <!-- <app-employee-crud></app-employee-crud> -->
  <!-- <button (click)="flag=!flag">Toggle Flag</button>
  @if(flag){
    <app-demo1></app-demo1>
  }@else {
    <app-demo2></app-demo2>
  } -->
  <app-http-demo1></app-http-demo1>
</div>
