<h3 class="text-center">Employee CRUD</h3>

<button (click)="fetchEmployees()">Fetch Employee</button>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <table class="table table-bordered">
        <tbody>
          @for (emp of employees$ | async; track $index) {
          <tr>
            <td>{{emp.id}}</td>
            <td>{{emp.firstName}}</td>
            <td>{{emp.lastName}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp.sal}}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteEmp(emp.id)">Delete</button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <p>firstName: <input #firstName /></p>
      <p>lastName: <input #lastName /></p>
      <p>email: <input #email /></p>
      <p>gender: <input #gender /></p>
      <p>sal: <input #sal /></p>
      <button (click)="addEmp(firstName.value,lastName.value,email.value,gender.value,sal.value)">Add Emp</button>
    </div>
  </div>
</div>
