<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="https://static-assets-web.flixcart.com/apex-static/images/svgs/L1Nav/fashion.svg" alt="">
      <div>Fashion</div>
    </div>
    <div class="col text-center">
      <img src="https://static-assets-web.flixcart.com/apex-static/images/svgs/L1Nav/mobiles.svg" alt="">
      <div>Mobiles</div>
    </div>
    <div class="col text-center">
      <img src="https://static-assets-web.flixcart.com/apex-static/images/svgs/L1Nav/electronics.svg" alt="">
      <div>Electronics</div>
    </div>
    <div class="col text-center">
      <img src="https://static-assets-web.flixcart.com/apex-static/images/svgs/L1Nav/fashion.svg" alt="">
      <div>Beauty</div>
    </div>
    <div class="col text-center">
      <img src="https://static-assets-web.flixcart.com/apex-static/images/svgs/L1Nav/mobiles.svg" alt="">
      <div>Home</div>
    </div>
    <div class="col text-center">
      <img src="https://static-assets-web.flixcart.com/apex-static/images/svgs/L1Nav/electronics.svg" alt="">
      <div>Appliances</div>
    </div>
    <div class="col text-center">
      <img src="https://static-assets-web.flixcart.com/apex-static/images/svgs/L1Nav/fashion.svg" alt="">
      <div>Books</div>
    </div>
    <div class="col text-center">
      <img src="https://static-assets-web.flixcart.com/apex-static/images/svgs/L1Nav/mobiles.svg" alt="">
      <div>Furnitures</div>
    </div>
    <div class="col text-center">
      <img src="https://static-assets-web.flixcart.com/apex-static/images/svgs/L1Nav/electronics.svg" alt="">
      <div>Toys</div>
    </div>
  </div>
</div>
