<h3 class="text-center">Let's Learn Pipes</h3>

<div class="border border-3 rounded-3 p-3 m-3">
  <div>lowercase, uppercase, titlecase pipes:</div>
  <div>{{userName}}</div>
  <div>{{userName | lowercase}}</div>
  <div>{{userName | uppercase}}</div>
  <div>{{userName | titlecase}}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <div>Currency pipe:</div>
  <div>{{ salary }}</div>
  <div>{{ salary | currency }}</div>
  <div>{{ salary | currency : 'USD' }}</div>
  <div>{{ salary | currency : 'INR' }}</div>
  <div>{{ salary | currency : '&euro;' }}</div>
  <div>{{ salary | currency : '&yen;' }}</div>
  <div>{{ salary | currency : 'USD' : 'code' }}</div>
  <div>{{ salary | currency : 'USD' : 'symbol' }}</div>
  <!-- input | pipeName : argument1 : argument2 -->
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <h5>Date pipe:</h5>
  <div>{{ dateObj | date }}</div>
  <div>{{ dateObj | date :'short'}}</div> <!-- Short Date + Short Time -->
  <div>{{ dateObj | date :'medium'}}</div> <!-- medium Date + medium Time -->
  <div>{{ dateObj | date :'long'}}</div> <!-- long Date + long Time -->
  <div>{{ dateObj | date :'full'}}</div> <!-- full Date + full Time -->
  ==================
  <div>{{ dateObj | date : 'shortDate' }}</div>
  <div>{{ dateObj | date : 'mediumDate' }}</div>
  <div>{{ dateObj | date : 'longDate' }}</div>
  <div>{{ dateObj | date : 'fullDate' }}</div>
  =================
  <div>{{ dateObj | date : 'shortTime' }}</div>
  <div>{{ dateObj | date : 'mediumTime' }}</div>
  <div>{{ dateObj | date : 'longTime' }}</div>
  <div>{{ dateObj | date : 'fullTime' }}</div>
  ==============
  <div>{{ dateObj | date : 'dd-MMM-yyyy' }}</div>
  <div>{{ dateObj | date : 'hh:mm:ss a' }}</div>
  <div>{{ dateObj | date: "fullTime":"UTC" }}</div>
  <div>{{ dateObj | date: "fullTime":"IST" }}</div>
  <div>{{ dateObj | date: "EEEE" }}</div> <!-- Weekday-->
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <div>number pipe:</div>
  <div> {{100000000 | number}} </div>
  <div>{{ 12.111222333 | number: "3.2-5" }}</div>
  <div>{{ 12.1 | number: "3.2-5" }}</div>
  <div>{{0.5 | number:'3.2-5'}}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <div>percent pipe:</div>
  <div>{{ 2.5 | percent}}</div>
  <div>{{ 2.5 | percent:'2.2-5'}}</div>
  <div>{{ 0.024 | percent}}</div>
  <div>{{ 0.026 | percent}}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <div>json pipe:</div>
  <div>{{user}}</div>
  <div>{{user.name}}</div>
  <div>{{user | json}}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <div>keyvalue pipe:</div>
  @for (entry of user | keyvalue; track $index) {
  <div>{{entry.key}} === {{entry.value}}</div>
  }
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <div> slice pipe can be used with array and string</div>
  <div>{{cars | slice : 2 }}</div>
  <div>{{cars | slice : 2 : 4}}</div>
  <div>{{'Angular is a Framework' | slice : 0 : 7}}</div>
  <div>{{'Angular is a Framework' | slice : 0 : -4}}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <div>Pipe Chaining:</div>
  <div>{{dateObj | date : 'full'}}</div>
  <div>{{dateObj | date : 'full' | uppercase}}</div>
  <div>{{dateObj | date : 'full' | lowercase}}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <div>Custom Pipe:(remaining)</div>
  <textarea [(ngModel)]="msg" maxlength="100"></textarea>
  <div>Message:{{msg}}</div>
  <div>Remaining:{{msg | remaining}}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <div>Custom Pipe:(ordinal)</div>
  <input type="number" [(ngModel)]="num">
  <div>input:{{num}}</div>
  <div>output:{{num | ordinal}}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <div>Custom Directive Alpha Numeric</div>
  <input appAlphaNumeric />
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <div>Pure & ImPure Pipe:</div>
  @for (ele of numArr | mySort; track $index) {
    <b>{{ele}} &nbsp;</b>
  }
  <input type="number" #newNum class="mx-1">
  <button (click)="numArr.push(+newNum.value)">Add</button>
</div>
